$primary_color: #d5aa6d;$secondary_color: #9b6f45;$third_color: #d5aa6d;$link_color: #d5aa6d;$link_color_hover: #9b6f45;$link_color_active: #9b6f45;
                $body_default_font: Muli;
            
                $heading_default_font: Poppins;
            